@import url('https://fonts.googleapis.com/css2?family=Chela+One&family=Work+Sans:wght@100;300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
    box-sizing: border-box;
    font-family: 'work Sans';
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.contenedor-header{
    background: rgb(46, 45, 45);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

header .logo a{
    text-decoration: none;
    font-size: 36px;
    font-family: 'chela one';
    color: #69CEA6;
}

header ul{
    display: flex;
    list-style: none;
}

header ul li a{
    text-align: none;
    color: aliceblue;
    margin: 0 10px ;
    padding: 3px;
    transition: .5s;
    text-decoration: none;

}

header ul li a:hover{
    color:#69CEA6 ;
}

header .nav-responsive{
    color: #ffffff;
    padding:6px 8px;
    border-radius: 8px;
    background: #69CEA6;
    display: none;
    cursor: pointer;
}


/*seccion inicio*/

.inicio{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(imagenes/fondo.jpg);
    background-size: cover;
    height: 100vh;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.inicio .contenido-banner{
    border-radius: 40px;
    justify-items: center;
    padding:  30px 15px;
    max-width: 350px;
    margin: auto;
    background-color:  rgb(46, 45, 45);
    text-align: center;
}
.contenedor-img img{
    height: 300px;
    border-radius: 20%;
    border:8px solid #69CEA6;
    display: block;
    margin: auto;
}
.inicio .contenido-banner h1{
    margin-top: 40px;
    font-size: 36px;
    color: #69CEA6;
    font-family: 'righteous';
    font-weight: 100;
}

.inicio .contenido-banner h2{
    font-size: 15px;
    font-weight: normal;
}

.inicio .contenido-banner .button-cv button{
    background-color:transparent;
    margin-top:15px ;
    border:2px solid#69CEA6;
    padding: 10px 15px;
    border-radius: 13px;
    color: #ffffff;
}

.inicio .contenido-banner .redes{
    margin-top: 30px;
    justify-content: space-between;
    padding: 0px 55px;
    display: flex;
}

.inicio .contenido-banner .redes a{
    background: #6e827a;
    padding: 5px 8px;
    border-radius: 50%;
    
}

.inicio .contenido-banner .redes a i{
    color: #ffffff;
    width: 15px;

}

/*estilos de la seccion sobre mi*/

.sobremi{
    background-color:  rgb(46, 45, 45);
    color: #ffffff;
    padding: 50px 20px;
}
.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.sobremi h2{
    font-family: 'chela one';
    font-size: 45px;
    text-align: center;
    padding: 20px 0px;
    color: #69CEA6;
}

.sobremi .contenido-seccion p{
    font: 18px;
    margin-bottom: 20px;
    line-height: 22px;
}
.sobremi .contenido-seccion p span{
    color: #69CEA6;
    font-weight: bold;
}

.sobremi .fila{
    display: flex;

}
.sobremi .fila .col{
    width: 50%;
}
.sobremi .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.sobremi .fila .col ul{
    list-style: none;
}
.sobremi .fila .col ul li{
    margin: 12px 0px;
}
.sobremi .fila .col ul li strong{
    display: inline-block;
    color: #69CEA6;
    width: 130px;
}
.sobremi .fila .col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap; 
}
.contenedor-intereses .intereses{
    width: 100px;
    height: 100px;
    background-color: #6e827a;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
    
}
.contenedor-intereses .intereses i{
    font-size: 30px;
    margin-bottom: 10px;
}

.sobremi button{
    cursorpointer
}